@charset "UTF-8";

@font-face {
	font-family: "dxb";
	src: url("../font/dxbt.ttf");
}
@font-face {
	font-family: "C";
	src: url("../font/COI.ttf");
}
@font-face {
	font-family: "el";
	src: url("../font/ExtraLight.otf");
}
@font-face {
	font-family: "ll";
	src: url("../font/Light.otf");
}
@font-face {
	font-family: "sb";
	src: url("../font/Semibold.otf");
}
@font-face {
	font-family: "ng";
	src: url("../font/NG.ttf");
}
@font-face {
    font-family: "ii";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "pb";
	src: url("../font/probold.otf");
}
@font-face {
	font-family: "sb";
	src: url("../font/Semibold.otf");
}

/*-----------------------------------------------*/

#pzoneTbl{
	width: 1000px;
	padding-top: 3px;
}

#pzoneTblTop {
	width: 1000px; 
	height: 50px;
	font-family: pb;
	font-size: 17pt;
}

#pzoneTblReg {
	width: 1000px; 
	height: 513px;
	font-family: ll;
	font-size: 15pt; 
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #EAEAEA; opacity: 0.8;
	padding-left: 25px;
}

.pzoneTblRegTd a{
	text-decoration: none; color: black;
}

.pzoneReg {
	
	padding-right: 25px;
	/*box-shadow: black 5px 5px 5px;*/
	float: left; margin: 5px;
	/*배열 자리 설정/ left 왼쪽 부터 , margin은 띄우기 */
	text-decoration: none;
	 font-weight: bolder;
}

#pzoneRegButton{
	position:fixed;
	width:80px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #5586EB;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right:15px;
	border: none;
	font-size: 13pt; font-family: ll;
	color: white;
}





/*-----------------------------------------------*/

#pPBInfo1 {
	padding-top:30px;
	width: 800px; height: 500px;
}


#pPBInfoTblTitle{
	font-size: 25pt; 
	width: 800px; 
	height: 50px;
	font-family: sb;
}

#pPBInfoTblText{
	font-family: el;
	font-size: 16pt; 
	width: 800px; 
	height: 350px;
}

#pPBinfoUpdateButton {
	position:fixed;
	width:80px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #5586EB;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right:10x;
	border: none;
	font-size: 20px;
	color: white;
}
#pPBInfoTblTitle{
	font-size: 25pt; 
	width: 800px; 
	height: 50px;
	font-family: sb;
}

#pPBInfoTblText{
	font-family: el;
	font-size: 16pt; 
	width: 800px; 
	height: 350px;
}

#pPBinfoUDButton {
	position:fixed;
	width:80px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #5586EB;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right:10x;
	border: none;
	font-size: 20px;
	color: white;
}
/*info2----------------------------------------------*/

#pPBInfo2 {
	padding-top:30px;
	width: 800px; 
	height: 700px;
}
#pPBInfo2Tbl{
	
	
}

#pPBInfoTblTitle2{
	padding-top:5px;
	font-size: 25pt; 
	width: 800px; 
	height: 50px;
	font-family: sb;
}

#pPBInfoTblText2{
	font-family: el;
	font-size: 16pt; 
	width: 800px; 
	height: 350px;
}

#pPBinfoButtonTbl{
	width: 850px;
	/* background-color: black; */
}

#pPBinfoUpdateButton {
	width:80px;
	height:50px;
	background-color: #5586EB;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	color: white;
}
#pPBinfoDeleteButton {
	width:80px;
	height:50px;
	background-color: green;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	color: white;
}


/*====================pzone input=========================*/

#pPZTopTbl{
	padding-top:30px;
	padding-bottom:20px;
	font-size: 30pt;
	font-family: pb;
}

#pPBboard{
	width: 900px;
	font-family: pb;
	font-size: 15pt;
}
#pPBboard input{
	opacity: 0.8;
	width: 899px; 
	height: 30px;
}
#pPBboard textarea{
	opacity: 0.8;
}

#pPBboardWriteButton{
	width:80px;
	height:50px;
	background-color: #5586EB;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	color: white;
	
}

