@charset "UTF-8";

@font-face {
	font-family: "dxb";
	src: url("../font/dxbt.ttf");
}
@font-face {
	font-family: "C";
	src: url("../font/COI.ttf");
}
@font-face {
    font-family: "ii";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
	display: none;
}

body{
	font-family:  "ii"; 	
}


#proResultBackTbl{
	margin-top:50px;
	border-spacing: 5px;
}
#proResultTbl {
	width: 700px;
	height: 200px;
}


/*----구분선---------------------------------------------------------------------------*/

#snsTbl{
	padding-top: 100px;
}

#snsWriteBackTbl{
	width:1000px;
	height: 200px;
}

#snsWriteTbl {
	position:fixed;
	bottom: -465px;
	right:11px;
	width: 600px;
}
#snsWriteTbl td{
	padding-left:10px;
}
#snsWriteTbl img:hover{
	cursor: pointer;
}

#snsBackGroundTbl{
	bottom: 10px;
}


#snsWriteTbl input{
	padding-top: 10px;
	border-radius: 5px;
	border: none;
	text-align: left;
	font-size: 15pt;
	font-family:  "ii"; 
	
}

#snsWriteTbl textarea{
	font-family:  "ii"; 
	padding-top: 10px;
	border-radius: 5px;
	border: none;
	text-align: left;
	font-size: 15pt;

}