@charset "UTF-8";

@font-face {
	font-family: "dxb";
	src: url("../font/dxbt.ttf");
}
@font-face {
	font-family: "C";
	src: url("../font/COI.ttf");
}
@font-face {
    font-family: "ii";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
	display: none;
}

#snsTbl{
	padding-top: 100px;
	background-color: gray;
}

#snsBackGroundTbl{
	bottom: 10px;
}

#snsTbl textarea{
	padding-top: 10px;
	width: 450px;
	height: 40px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 15pt;

}