@charset "UTF-8";

@font-face {
	font-family: "dxb";
	src: url("../font/dxbt.ttf");
}
@font-face {
	font-family: "C";
	src: url("../font/COI.ttf");
}
@font-face {
    font-family: "ii";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
	display: none;
}

#snsBackGroundTbl{
	
}

#snsWriteTbl{
	background-color: black;
}

#snsWriteTbl input{
	text-align: center;
	border-style: 3px 3pxsolid;
	border-color: blue;
	border-spacing: 3px;
	
}

#snsWriteTbl td{
	
}



/* #snsBackGroundTbl{
	background-color: green;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#snsWriteTbl{
	padding-top:100px;
}

#snsWriteTbl td{
	max-width: 700px;
	font-family: "dxb";	
	font-size: 15pt;
} */